div{
    width: 180px;
    height: 200px;
    background-color: rosybrown;
    text-align: justify;
    padding-left: 2px;
    
}
h1{
    background-color: pink;
    width: 100px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 50px;
    padding-left: 6px;
    
}
#one{
    background-color: #ffb4a2;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 5px;
    
}

#two{
    
    background-color: #e5989b;
    border-width: 3px;
    border-style: dashed;
    border-color: blue;
    

}
#three{
    border:  4px solid black;
    border-radius: 10px/20px;
}