h1{
    text-align: center;
    /* width: 50%; */
    font-weight: lighter;
    text-decoration: underline overline line-through violet wavy 1px;
    letter-spacing: 10px;
}
.first{
    text-align: right;
    font-weight: bolder;
    border: dotted red;
    text-decoration: underline dotted yellow;
}
a{
    text-decoration: none;
}
p{
    line-height: 2;
    border: solid;
    text-align: justify;
    border-radius: 10px;
    
}
div{
    background: blue;
    color: white;
    width: max-content;
    border: solid black 20px;
}
.sec{
    font-size: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

/* 
#expand-toggle {
    display: none;
  } */
  
  /* Hide expandable content by default */
  .expandable {
    visibility: collapse;
    background: #ddd;
  }
  
  /* Style the button */
  #expand-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 5px 11px; 
    background-color: #ff7;
    border: 1px solid;
    border-radius: 3px;
  }
  
  /* Show hidden content when the checkbox is checked */
  #expand-toggle:checked ~ * .expandable {
    visibility: visible;
  }
  
  /* Style the button when the checkbox is checked */
  #expand-toggle:checked ~ #expand-btn {
    background-color: #ccc;
  }