body{
    margin: 0;
    background-color: rgb(255, 248, 220);
}
nav{
    display: inline-block;
}
section{
    display: inline-block;
}
div{
    display: inline-block;
}
header{
    background-color: white;
    /* border-bottom: 1px solid grey; */
    margin-top: 15px;
    margin-top: white;
    
}
#logo{
    margin-left: 100px;
}
#search{
    margin-left: 200px;
    /* margin-bottom: 15px; */
    
}
#head{
    margin-left: 100px;
    /* margin-bottom: 15px; */
}
main{
    margin-top: 30px;
}
#pic{
    border-radius: 50%;
    width: 120px;
    height: 13px;
}
h1{
    display: inline-block;
}